<div style="height: 99%;">
  <!-- <img src="assets/פלייר-1.png"> -->
  <!-- בס"ד
™BizTechoff
מבצע קיץ 2022
(יולי ואוגוסט)

בעל עסק?
אל תפספס את זה

אפליקציות זה אנחנו
פלטפורמה מאובטחת בענן לניהול פשוט ויעיל של השירותים שעסקך מציע
במחירים מפתיעים (עבור למטה)

* אזור נפרד לכל עובד + אזור לקוח מותאם לסלולרי
* הצגה גרפית של מצב עדכני של העסק בכל רגע נתון
* אבטחה, משתמשים והרשאות
* תהליכי ליבה ותפעול של שירותי העסק
* דוח עבודה שבועי
* התממשקות לצד ג` 
* ההצעה כוללת אפיון (לתקופת המבצע)

עלות הקמה:   25,000 ₪  - עד 45 ימי עבודה
עלות חודשית: 3,250 ₪    - שימוש, תחזוקה ותמיכה -->

  </div>
